@charset "UTF-8";

.contentBox{padding: 130px 0;}

/* 공통 - 모바일 이미지 크게 보기 */
.zoomViewBox{position: relative;}
.zoomViewBox .zoomView{display: none; position: absolute; bottom: 0px; right: 0px; width: 42px; height: 42px; background: url(../images/common/zoomview_icon.png) no-repeat; background-size: 42px 42px;}

@media (max-width: 767px){

  .zoomViewBox .zoomView{display: block; bottom: 20px; right: 20px;}
  
}

/* 공통 - 스크롤 */
.scroll::-webkit-scrollbar {width: 3px; height: 3px;}
.scroll::-webkit-scrollbar-thumb {background: #313132;}
.scroll::-webkit-scrollbar-track {background: #d3d3d3;}

/* 공통 - 마퀴텍스트 */
.marqueeBox {overflow: hidden; position: relative; display: flex; align-items: center;
  height: 320px;}
.marqueeTextBox {display: flex; width: max-content; animation: marquee 23s linear infinite;}
.marqueeTextBox p {flex-shrink: 0; display: flex; align-items: center; gap: 0 20px; padding-right: 80px;
  font-size: 90px; font-weight: 400; color: #593f52; font-family: 'Constantia'; line-height: 1; white-space: nowrap;}
.marqueeTextBox p::before {content: '';width: 76px; height: 76px; flex-shrink: 0; background: url(../images/sub/stemcellcenter/marqueetext_icon.png) no-repeat center / contain;}
.marqueeType02 .marqueeTextBox p{color: #e9e5e0;}
.marqueeType02 .marqueeTextBox p::before{content: ''; background: url(../images/sub/stemcellcenter/marqueetext_icon02.png)no-repeat center / contain;}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px){

  .marqueeBox{height: 250px!important;}
  .marqueeTextBox p{padding-right: 50px; font-size: 70px!important;}
  .marqueeTextBox p::before{width: 50px; height: 50px;}

}

@media (max-width: 480px){

  .marqueeBox{height: 200px!important;}
  .marqueeTextBox p{padding-right: 20px; font-size: 40px!important;}
  .marqueeTextBox p::before{width: 40px; height: 40px;}

}

/* 공통 - 비주얼영역 */
#visualWrap .visualBox .textBox span{margin-bottom: 10px; display: block; font-size: 22px; color: #fff; font-family: 'Constantia'; text-align: center; }
#visualWrap .visualBox .textBox h2{margin-bottom: 25px; font-family: 'Noto Serif KR', serif; font-size: 50px;}
#visualWrap .visualBox.active .textBox p{font-size: 20px; font-family: 'NotoSansKR', sans-serif;}

@media (max-width: 1199px){

  #visualWrap .visualBox .textBox span{font-size: 20px;}
  #visualWrap .visualBox .textBox h2{font-size: 40px;}

}

@media (max-width: 767px){

  #visualWrap .visualBox .textBox span{font-size: 18px;}
  #visualWrap .visualBox .textBox h2{font-size: 30px;}
  #visualWrap .visualBox.active .textBox p{font-size: 16px;}

}

@media (max-width: 480px){

  #visualWrap .visualBox .textBox span{margin-bottom: 5px; font-size: 17px;}
  #visualWrap .visualBox .textBox h2{margin-bottom: 20px; font-size: 26px;}
  #visualWrap .visualBox.active .textBox p{font-size: 14px;}
  #visualWrap .visualBox.active .textBox p br{display: none;}

}

/* 공통 - 색상 */
.colorBeige{color: #ae9574!important;}

/* 공통 - 제목 */
.titleBox{margin-bottom: 66px; text-align: center;}
.titleBox span{display: block; font-size: 25px; color: #593f52; font-family: 'Constantia'; letter-spacing: 10px;}
.titleBox .tit{margin-bottom: 20px; font-size: 42px; color: #593f52; font-family: 'Noto Serif KR', serif; font-weight: 600; letter-spacing: -1px;}
.titleBox .text{font-size: 22px; color: #303030; line-height: 1.7;}

@media (max-width: 1199px){

  .titleBox span{font-size: 22px;}
  .titleBox .tit{font-size: 36px;}
  .titleBox .text{font-size: 18px;}

}

@media (max-width: 767px){

  .titleBox{margin-bottom: 50px!important;}
  .titleBox span{font-size: 20px;}
  .titleBox .tit{font-size: 30px;}
  .titleBox .text{font-size: 16px;}

}

@media (max-width: 480px){

  .titleBox{margin-bottom: 40px!important;}
  .titleBox span{font-size: 18px;}
  .titleBox .tit{font-size: 24px;}
  .titleBox .text br{display: none;}

}

/* 공통 - 자주 묻는 질문 영역 */
#faqWrap{padding: 0 0 200px;}
#faqWrap .faqBox{margin-bottom: 15px; position: relative; border-radius: 8px; overflow: hidden;}
#faqWrap .faqBox:last-child{margin-bottom: 0;}
#faqWrap .faqBox .faqBtn{position: relative; padding:48px 110px 48px 60px; display: block; width: 100%; font-weight: 700; font-size: 20px; color: #303030; background-color: #e8e7e2; text-align: left;}
#faqWrap .faqBox .faqBtn::after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:50px; width: 24px; height: 25px; background: url(../images/sub/plus_icon.png)no-repeat center / contain;}
#faqWrap .faqBox .faqContentBox{display: none; padding:0 110px 48px 60px;}
#faqWrap .faqBox .faqContentBox p{ font-size: 20px; color: #bda5b7; line-height: 1.8; letter-spacing: -1px;}
#faqWrap .faqBox .faqBtn.active{background-color: #593f52; color: #fff;}
#faqWrap .faqBox .faqBtn.active::after{width: 18px; height: 1px; background: none; background-color: #fff;}
#faqWrap .faqBox .faqBtn.active + .faqContentBox{background-color: #593f52; color: #fff;}

@media (max-width: 767px){

  #faqWrap{padding: 0 ;}
  #faqWrap .faqBox .faqContentBox p,
  #faqWrap .faqBox .faqBtn{font-size: 18px;}
  #faqWrap .faqBox .faqBtn{padding: 45px 110px 45px 50px;}
  #faqWrap .faqBox .faqContentBox{padding: 0 80px 40px 50px;}
  #faqWrap .faqBox .faqBtn::after{width: 20px; height: 20px;}

}

@media (max-width: 480px){

  #faqWrap .faqBox .faqContentBox p,
  #faqWrap .faqBox .faqBtn{font-size: 16px;}
  #faqWrap .faqBox .faqBtn{padding: 35px 70px 35px 20px;}
  #faqWrap .faqBox .faqContentBox{padding: 0 20px 40px 20px;}
  #faqWrap .faqBox .faqBtn::after{right: 30px; width: 15px; height: 15px;}
  #faqWrap .faqBox .faqBtn.active::after{width: 15px;}
  
}

/* 공통 - 시스템 영역, 포인트영역 */
#pointWrap{background:linear-gradient(to bottom, #976751, #3e2e3a);}
#pointWrap .comContentBox p{margin-bottom: 0;}
#systemWrap{background: url(../images/sub/system_bg.jpg)no-repeat center / cover;}
#pointWrap .pointBox,
#systemWrap .systemBox{height: 1180px; display: flex; align-items: center; overflow: hidden;} 
#pointWrap .titleBox,
#systemWrap .titleBox{flex-shrink: 0; padding: 180px 0 0; margin: 0; text-align: left; align-self: flex-start;}
#pointWrap .titleBox span,
#systemWrap .titleBox span,
#pointWrap .titleBox h3,
#systemWrap .titleBox h3{color: #fff;}
#pointWrap .titleBox h3,
#systemWrap .titleBox h3{font-size: 74px;}
.verticalSlideBox{display:flex; align-items:center; gap:0 40px;}
.verticalSlideBox .verticalImgBox{position: relative; flex-shrink: 0; width: 508px; z-index: 1;} 
.verticalSlideBox .verticalImgBox::before{content: ''; position: absolute;
  left: 50%; top: -100%; bottom: -100%; width: 3px; margin-left: -2px; background: linear-gradient(to bottom,
  rgba(113,122,133,0) 0%,
  rgba(113,122,133,0.2) 15%,
  rgba(113,122,133,0.7) 50%,
  rgba(113,122,133,0.2) 85%,
  rgba(113,122,133,0) 100%
); z-index: -1;} 
.verticalSlideBox .verticalImgBox .comImgBox{width: 508px; height: 508px; box-shadow: 0 59px 49px 0 #5252522b; } 
.verticalSlideBox .verticalImgBox .comImgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.verticalSlideBox .verticalTextBox{width: calc(50% - -94px); display:flex; align-items:center;}
.verticalSlideBox .verticalTextBox .comTextBox{opacity: .5; display: flex; align-items: flex-start; gap: 0 40px; margin: 60px 0;}
.verticalSlideBox .verticalTextBox .comTextBox .comNumber{flex-shrink: 0; font-size: 74px; font-family: 'Constantia'; color: #ae9373; line-height: .6;} 
.verticalSlideBox .verticalTextBox .comTextBox h4{margin-bottom: 20px; font-family: 'Noto Serif KR', serif; font-size: 36px; font-weight: 600; color: #fff; font-weight: 400; word-break: keep-all;}  
.verticalSlideBox .verticalTextBox .comTextBox .comContentBox p{margin-bottom: 20px; font-size: 20px; color: #fff; line-height: 1.8; font-weight: 300;letter-spacing: -1px;} 
.verticalSlideBox .verticalTextBox .comTextBox .comContentBox .comInfoList{display: flex; flex-wrap: wrap; gap: 9px;} 
.verticalSlideBox .verticalTextBox .comTextBox .comContentBox .comInfoList li{padding: 8px 13px; font-weight: 700; color: #fff; border: 1px solid #fff; border-radius: 8px;}  
.verticalSlideBox .verticalTextBox .comTextBox.slick-current{opacity: 1;}
.verticalSlideBox .verticalImgBox .slick-list{border-radius: 50%; overflow: hidden;}
.verticalSlideBox .verticalTextBox .slick-list{overflow:visible; height:100%;}

@media (max-width:1440px){

  .verticalSlideBox .verticalImgBox .comImgBox,
  .verticalSlideBox .verticalImgBox{width: 450px; height: 450px;}
  .verticalSlideBox .verticalTextBox .comTextBox .comContentBox p br{display: none;}

}

@media (max-width: 1199px){

  .verticalSlideBox .verticalImgBox .comImgBox,
  .verticalSlideBox .verticalImgBox{width: 350px; height: 350px;}
  .verticalSlideBox .verticalTextBox .comTextBox .comNumber{font-size: 40px;}
  .verticalSlideBox .verticalTextBox .comTextBox h4{margin-bottom: 15px; font-size: 26px;}
  .verticalSlideBox .verticalTextBox .comTextBox{gap: 0 20px;}
  
  #pointWrap,
  #systemWrap{padding: 150px 0 100px;}

  #pointWrap .pointBox, 
  #systemWrap .systemBox{height: auto; overflow: visible;}

  #pointWrap .titleBox,
  #systemWrap .titleBox{margin-bottom: 100px!important; padding: 0; text-align: center;}
  
  #pointWrap .titleBox span,
  #systemWrap .titleBox span{font-size: 20px;}

  #pointWrap .titleBox h3,
  #systemWrap .titleBox h3{font-size: 60px;}

  .verticalSlideBox .verticalImgBox{margin: 0 auto 50px;}
  .verticalSlideBox .verticalImgBox::before{margin: 0; left:-100%; top:50%; transform: translateY(-50%); right:-100%; bottom: auto; height: 3px; width: auto;}
  .verticalSlideBox .verticalImgBox::before{content: ''; background: linear-gradient(to right,
  rgba(113,122,133,0) 0%, rgba(113,122,133,0.2) 15%,rgba(113,122,133,0.7) 50%,
  rgba(113,122,133,0.2) 85%,rgba(113,122,133,0) 100%);} 
  .verticalSlideBox,
  #pointWrap .pointBox, #systemWrap .systemBox{display: block;}
  .verticalSlideBox .verticalTextBox{width: 100%;}
  .verticalSlideBox .verticalTextBox .slick-list{overflow: hidden;}

}

@media (max-width: 767px){

  #pointWrap, #systemWrap{padding: 120px 0 70px;}

  #pointWrap .titleBox span,
  #systemWrap .titleBox span{font-size: 18px;}

  #pointWrap .titleBox h3,
  #systemWrap .titleBox h3{font-size: 50px;}

  .verticalSlideBox .verticalImgBox::before{height: 2px;}
  .verticalSlideBox .verticalTextBox .comTextBox .comNumber{font-size: 32px;}
  .verticalSlideBox .verticalTextBox .comTextBox h4{font-size: 22px;}
  .verticalSlideBox .verticalTextBox .comTextBox .comContentBox p{font-size: 18px;}

}

@media (max-width: 480px){

  #pointWrap .titleBox,
  #systemWrap .titleBox{margin-bottom: 70px!important;}

  #pointWrap .titleBox span,
  #systemWrap .titleBox span{font-size: 16px;}

  #pointWrap .titleBox h3,
  #systemWrap .titleBox h3{font-size: 36px;}

  .verticalSlideBox .verticalTextBox .comTextBox{flex-direction: column; align-items: center; gap: 30px 0;}

  .verticalSlideBox .verticalTextBox .comTextBox h4{font-size: 22px; text-align: center;}
  .verticalSlideBox .verticalTextBox .comTextBox .comContentBox p{font-size: 17px; text-align: center;}
  .verticalSlideBox .verticalImgBox .comImgBox,
  .verticalSlideBox .verticalImgBox{width: 250px; height: 250px;}
  .verticalSlideBox .verticalTextBox .comTextBox{margin: 30px 0;}

}

/* 공통 - 서브 상단 */
.subVisualWrap{position: relative;}
.subVisualWrap .subTopImgBox{height: 547px; overflow: hidden;}
.subVisualWrap .subTopImgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transform: scale(1.3);}
.subVisualWrap  .subTopTextBox{width: 100%; position: absolute; top: 57%; left: 50%; transform: translate(-50%, -50%); text-align: center;} 
.subVisualWrap  .subTopTextBox span{display: block; font-size: 22px; color: #fff; font-family: 'Constantia'; opacity: 0; letter-spacing: 15px; filter: blur(5px);}
.subVisualWrap  .subTopTextBox h2{font-size: 50px; font-weight: 500; color: #fff; font-family: 'Noto Serif KR', serif; opacity: 0; letter-spacing: 15px; filter: blur(5px);} 
.subVisualWrap.active .subVisualWrap .subTopImgBox img{transform: scale(1); transition: all 5s;}
.subVisualWrap.active  .subTopTextBox span,
.subVisualWrap.active  .subTopTextBox h2{opacity: 1; filter: blur(0); letter-spacing: 0; transition: all 3s;}
 
@media (max-width: 1199px){

  .subVisualWrap .subTopTextBox h2{font-size: 46px;}
  .subVisualWrap .subTopTextBox{top: 54%;}

}

@media (max-width: 767px){

  .subVisualWrap .subTopTextBox{top: 52%;}
  .subVisualWrap  .subTopTextBox span{font-size: 18px;}
  .subVisualWrap .subTopTextBox h2{font-size: 38px;}

}

@media (max-width: 480px){

  .subVisualWrap  .subTopTextBox span{font-size: 16px;}
  .subVisualWrap .subTopTextBox h2{font-size: 30px;}

}


/* 원셀줄기세포센터 - 줄기세포센터 */
.stemcellWrap #introduceWrap .titleBox {margin-bottom: 160px;}
.stemcellWrap .introduceTopInfoBox .introduceLayoutBox:nth-child(2){flex-direction: row-reverse;}
.stemcellWrap .introduceTopInfoBox .introduceLayoutBox:nth-child(2) .introduceImgBox{border-radius: 242px!important;} 
.stemcellWrap #cardListWrap{padding: 190px 0 0;}
.stemcellWrap #cardListWrap .cardList{margin-bottom: 6.3vw;}
.stemcellWrap #cardListWrap .cardList li:nth-child(1){grid-column: 1; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList li:nth-child(2){grid-column: 2; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList li:nth-child(3){grid-column: 3; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList li:nth-child(4){grid-column: 2; grid-row: 2;}
.stemcellWrap #cardListWrap .cardList li:nth-child(5){grid-column: 3; grid-row: 2;}
.stemcellWrap #cardListWrap .cardList li:nth-child(6){grid-column: 4; grid-row: 2;}
.stemcellWrap .introduceBox01{background: url(../images/sub/stemcellcenter/bg.jpg)no-repeat center 70px;}
.stemcellWrap .infoTextBox{background-color: #f4f1ee;}
.stemcellWrap #cardListWrap .cardList::before,
.stemcellWrap #cardListWrap .cardList::after{content: ''; display: block;}
.stemcellWrap #cardListWrap .cardList::before{grid-column: 4; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList::after{ grid-column: 1; grid-row: 2;}

@media (max-width: 1199px){

  .stemcellWrap #introduceWrap .titleBox{margin-bottom: 100px;}
  .stemcellWrap .introduceTopInfoBox{display: flex; flex-direction: column; gap: 150px 0;}
  .stemcellWrap #cardListWrap{padding: 150px 0 0;}

}

@media (max-width: 1024px){

  .stemcellWrap #cardListWrap .cardList{grid-template-columns: repeat(3, 1fr);}
  .stemcellWrap #cardListWrap .cardList li{grid-column: auto!important; grid-row: auto!important;}
  .stemcellWrap #cardListWrap .cardList::before,
  .stemcellWrap #cardListWrap .cardList::after{display: none!important;}

}

@media (max-width: 767px){

  .stemcellWrap #cardListWrap{padding: 100px 0 0;}

}

/* 소개영역 */
#introduceWrap{padding: 100px 0 0;} 
#introduceWrap .introduceBox01{padding: 0 0 120px;}
#introduceWrap .introduceBox01 .container{max-width: 1240px;}
#introduceWrap .titleBox p{margin-bottom: 10px; font-family: 'Noto Serif KR'; font-weight: 600; font-size: 36px; color: #593f52; letter-spacing: -2px;}
#introduceWrap .titleBox .tit{font-size: 74px; word-break: keep-all;}
#introduceWrap .introduceBox01 .introduceLayoutBox{display: flex; align-items: center; justify-content: center; gap: 0 106px;}
#introduceWrap .introduceBox01 .introduceLayoutBox:nth-of-type(4){flex-direction: row-reverse;}
#introduceWrap .introduceBox01 .introduceLayoutBox .introduceImgBox{flex-shrink: 0; border-radius: 50%; box-shadow: 30px 50px 50px rgba(0,0,0,.1);  overflow: hidden;}
#introduceWrap .introduceBox01 .introduceLayoutBox .introduceImgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
#introduceWrap .introduceBox01 .introduceTextBox h4{margin-bottom: 15px; font-family: 'Noto Serif KR'; font-weight: 600; font-size: 40px; color: #593f52; letter-spacing: -3px; word-break: keep-all;} 
#introduceWrap .introduceBox01 .introduceTextBox p{ font-size: 20px; color: #303030; line-height: 2; letter-spacing: -2px;}
#introduceWrap .introduceBox01 .introduceTextBox p span{display: block; margin-top: 30px; font-size: 17px; color: #593f52;}
#introduceWrap .introduceBox01 .introduceTextBox p br{display: none;}
#introduceWrap .introduceBox02{ position: relative;}
#introduceWrap .introduceBox02 .titleBox{width: 100%; position: absolute; top:126px; left: 50%; transform: translateX(-50%);}
#introduceWrap .introduceBox02 .titleBox span,
#introduceWrap .introduceBox02 .titleBox h3{color: #fff;}
#introduceWrap .introduceBox02 .titleBox span{font-size: 25px;}
#introduceWrap .introduceBox02 .titleBox h3{margin-bottom: 30px; font-size: 42px;}
#introduceWrap .introduceBox02 .titleBox p{font-size: 20px; font-family: 'Noto Sans KR', sans-serif; color: #fff; font-weight: 400; line-height: 1.8; font-weight: 300;}
#introduceWrap .introduceBox02 .introduceImgBox img{display: block; width: 100%;}

@media (max-width: 1199px){

  #introduceWrap .titleBox p{font-size: 30px;}
  #introduceWrap .titleBox .tit{font-size: 40px;}
 
  #introduceWrap .introduceBox01 .introduceTextBox{width: 100%; text-align: center;}
  #introduceWrap .introduceBox01 .introduceTextBox h4{font-size: 36px;}
  #introduceWrap .introduceBox01 .introduceTextBox p{font-size: 18px;}
  #introduceWrap .introduceBox01 .introduceLayoutBox{flex-direction: column!important; gap:90px 0;}

  #introduceWrap .introduceBox02 .titleBox{top: 90px;}
  #introduceWrap .introduceBox02 .titleBox span{font-size: 20px;}
  #introduceWrap .introduceBox02 .titleBox h3{margin-bottom: 18px; font-size: 36px;}
  #introduceWrap .introduceBox02 .titleBox p{font-size: 18px;}

}

@media (max-width: 1024px){

  #introduceWrap .introduceBox02 .titleBox{top: 70px;}

}

@media (max-width: 767px){

  #introduceWrap .titleBox p{font-size: 24px;}
  #introduceWrap .titleBox .tit{font-size: 28px;}

  #introduceWrap .introduceBox01 .introduceTextBox h4{font-size: 26px;}
  #introduceWrap .introduceBox01 .introduceTextBox p{font-size: 16px;}
  #introduceWrap .introduceBox01 .introduceLayoutBox{flex-direction: column!important; gap:60px 0;}
  
  #introduceWrap .introduceBox02 .titleBox span{font-size: 16px;}
  #introduceWrap .introduceBox02 .titleBox h3{font-size: 26px;}
  #introduceWrap .introduceBox02 .titleBox p{font-size: 16px;}
  #introduceWrap .introduceBox02 .titleBox{margin-bottom: 40px; position: static; transform: none;}
  #introduceWrap .introduceBox02 .titleBox p,
  #introduceWrap .introduceBox02 .titleBox span,
  #introduceWrap .introduceBox02 .titleBox h3{color: #593f52;}

}

@media (max-width: 480px){

  #introduceWrap .titleBox{margin-bottom: 80px;}
  #introduceWrap .titleBox p{font-size: 20px;}
  #introduceWrap .titleBox .tit{font-size: 26px;}

  #introduceWrap .introduceBox01{padding: 0 0 90px;}

  #introduceWrap .introduceBox02 .titleBox p br,
  #introduceWrap .introduceBox01 .introduceTextBox p br{display: none;}
  
  #introduceWrap .introduceBox02 .titleBox{margin-bottom: 20px;}
  #introduceWrap .introduceBox02 .titleBox span{font-size: 14px;}
  #introduceWrap .introduceBox02 .titleBox h3{margin-bottom: 10px; font-size: 24px;}

}

/* 프로그램영역 */
#programWrap{padding: 0 0 160px;}
#programWrap .programImgList{display: flex; gap: 0 18px; padding:0 20px 114px; overflow-x: auto;}
#programWrap .programImgList li img{display: block;}
#programWrap .titleBox{margin-bottom: 80px;}
#programWrap .titleBox .tit{margin-bottom: 20px;}
#programWrap .titleBox p{font-size: 20px; color: #303030;}

@media (max-width: 1199px){

  #programWrap{padding: 0 0 100px;}

}

@media (max-width: 767px){

  #programWrap .programImgList{gap: 0 13px; padding:0 20px 35px;}
  #programWrap .programImgList li img{width: 250px;}
  #programWrap .titleBox p{font-size: 16px;}
  
}

@media (max-width: 480px){

  #programWrap{padding: 0 0 60px;}
  #programWrap .programImgList li img{width: 200px;}
  
}

/* 연구소영역 */
#laboratoryWrap{padding: 155px 0 0; background-color: #f4f1ee;}
#laboratoryWrap .titleBox{margin-bottom: 92px;}
#laboratoryWrap .titleBox em{ font-family: 'Noto Serif KR', serif; font-weight: 600; font-size: 45px; color: #593f52;}
#laboratoryWrap .laboratoryTopImgBox{margin-bottom: 110px;}
#laboratoryWrap .laboratoryTopImgBox img{display: block; width: 100%;}
#laboratoryWrap .laboratoryInfoBox{margin-bottom: 110px; display: flex; justify-content: center; align-items: center; gap: 0 100px;}
#laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{margin-bottom: 25px; font-family: 'Noto Serif KR', serif; font-weight: 600; font-size: 36px; color: #593f52; letter-spacing: -2px;}
#laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p{font-size: 20px; color: #303030; line-height: 1.8; letter-spacing: -1px;}
.viewBox{display: flex; justify-content: center;}
.viewBox .view{display: block; padding: 14px 28px; border-radius: 50px; font-weight: 700; font-size: 18px; color: #303030; border: 1px solid #333;}
#laboratoryWrap .laboratoryInfoBox .laboratoryImgBox img{display: block; width: 100%;}
#laboratoryWrap .marqueeBox{height: 500px;}
#laboratoryWrap .marqueeTextBox p{width: 1900px; font-size: 250px;}
#laboratoryWrap .marqueeTextBox p::before{display: none;}

@media (max-width: 1199px){

  #laboratoryWrap{padding: 120px 0 0;}
  #laboratoryWrap .titleBox{margin-bottom: 60px;}
  #laboratoryWrap .titleBox em{font-size: 40px;}
  #laboratoryWrap .laboratoryTopImgBox{margin-bottom: 65px;}
  #laboratoryWrap .laboratoryInfoBox{flex-direction: column; gap: 100px 0;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox{width: 100%; text-align: center;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{font-size: 30px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p{font-size: 18px;}

  #laboratoryWrap .marqueeBox{height: 350px;}
  #laboratoryWrap .marqueeTextBox p{width: 1050px; font-size: 140px;}

}

@media (max-width: 767px){

  #laboratoryWrap .titleBox em{font-size: 34px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{font-size: 24px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p{font-size: 16px;}

  .viewBox .view{font-size: 16px;}

  #laboratoryWrap .marqueeBox{height: 250px;}
  #laboratoryWrap .marqueeTextBox p{width: 700px; font-size: 90px;}

}

@media (max-width: 480px){

  #laboratoryWrap{padding: 80px 0 0;}
  #laboratoryWrap .titleBox em{font-size: 28px;}
  #laboratoryWrap .laboratoryTopImgBox{margin-bottom: 50px;}
  #laboratoryWrap .laboratoryInfoBox{margin-bottom: 50px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{font-size: 20px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p br{display: none;}

  #laboratoryWrap .marqueeBox{height: 200px;}
  #laboratoryWrap .marqueeTextBox p{width: 450px; font-size: 60px;} 
  
}

@media (max-width: 414px){

  #laboratoryWrap .laboratoryInfoBox{gap: 70px 0;}

}

/* 공통 - 카드영역 */
#cardListWrap{padding: 0 0 180px;}
#cardListWrap .cardList li{grid-column: auto; grid-row:auto;}
#cardListWrap .cardList li img{display: block; width: 100%;}
#cardListWrap .cardList{margin-bottom: 4.7vw; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px;}


@media (max-width: 1440px){

  #cardListWrap{padding: 0 0 120px;}

}

@media (max-width: 1024px){

  #cardListWrap .cardList{gap:10px;}
  
}

@media (max-width: 767px){

  #cardListWrap .cardList{grid-template-columns: repeat(2, 1fr)!important;}
 
}


/* 공통 - 안내텍스트 */
.infoTextBox{background-color: #e8e7e2;}
.infoTextBox p{padding: 24px 10px; font-weight: 700; color: #303030; border-radius: 8px; text-align: center;}

/* 원셀줄기세포센터 - 안티에이징 */
#introduceWrap .imgBox{position: relative; height: 432px;}
#introduceWrap .imgBox img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

@media (max-width: 1440px){

   #introduceWrap .imgBox{margin: 100px 0; height: auto;} 
   #introduceWrap .imgBox img{position: static; width: 100%; transform: none;}

}

@media (max-width: 480px){

  #introduceWrap .imgBox{margin: 50px 0;}

}

/* 시너지영역 */
#synergyWrap{padding: 170px 0 0;}
#synergyWrap .titleBox .tit{margin-bottom: 20px;}
#synergyWrap .synergyInfoBox{margin-bottom: 120px; display: flex; justify-content: center; gap: 0 80px;}
#synergyWrap .synergyImgBox img{display: block; width: 100%;}
#synergyWrap .synergyTextBox h4{margin-bottom: 30px; padding-bottom: 20px; font-family: 'Noto Serif KR', serif; font-size: 50px; font-size: 36px; color: #593f52; border-bottom: 1px solid #acacac;}
#synergyWrap .synergyTextBox h4 + p{margin-bottom: 50px; font-size: 20px; color: #303030;}
#synergyWrap .synergyTextBox .synergyList li{margin-bottom:40px;}
#synergyWrap .synergyTextBox .synergyList li:last-child{margin-bottom: 0;}
#synergyWrap .synergyTextBox .synergyList li h5{font-size: 20px; font-weight: 600; color: #303030;}
#synergyWrap .synergyTextBox .synergyList li p{font-size: 20px; color: #303030;}

@media (max-width: 1199px){

    #synergyWrap{padding: 100px 0 0;}

}

@media (max-width: 1024px){

  #synergyWrap .synergyInfoBox{margin-bottom: 70px; flex-direction: column; gap: 30px 0;}
  #synergyWrap .synergyImgBox img{max-width: 100%; width: auto; margin: 0 auto;}
  #synergyWrap .synergyTextBox h4{font-size: 32px;}
  #synergyWrap .synergyTextBox h4 + p{font-size: 18px;}
  #synergyWrap .synergyTextBox p br{display: none;}
  #synergyWrap .synergyTextBox .synergyList li h5,
  #synergyWrap .synergyTextBox .synergyList li p{font-size: 18px;}

}

@media (max-width: 767px){

  #synergyWrap .synergyTextBox h4{font-size: 26px;}
  #synergyWrap .synergyTextBox h4 + p{margin-bottom: 35px; font-size: 16px;}
  #synergyWrap .synergyTextBox .synergyList li h5,
  #synergyWrap .synergyTextBox .synergyList li p{font-size: 16px;}

}



/* 카드 목록 영역 */
#introduceWrap .introduceCardBox{padding: 0 0 170px;}
#introduceWrap .introduceCardBox .introduceCardList img{display: block; width: 100%;}
#introduceWrap .introduceCardBox .titleBox .tit{font-size: 40px; line-height: 1.2;}
#introduceWrap .introduceCardBox .titleBox p{font-size: 20px; color: #303030; font-family: 'NotoSansKR', sans-serif; font-weight: 400;}
#introduceWrap .introduceCardBox .viewBox{margin-bottom: 80px;}

@media (max-width: 1199px){

  #introduceWrap .introduceCardBox .titleBox .tit{font-size: 36px;}

}

@media (max-width: 767px){
  
  #introduceWrap .introduceCardBox{padding: 0 0 100px;}
  #introduceWrap .introduceCardBox .titleBox .tit{font-size: 28px;}
  #introduceWrap .introduceCardBox .titleBox p{font-size: 16px;}
  #introduceWrap .introduceCardBox .viewBox{margin-bottom: 62px;}

}

@media (max-width: 480px){
  
  #introduceWrap .introduceCardBox{padding: 0 0 70px;}
  #introduceWrap .introduceCardBox .titleBox .tit{font-size: 24px;}
  #introduceWrap .introduceCardBox .viewBox{margin-bottom: 50px;}
  #introduceWrap .introduceCardBox .titleBox p br{display: none;}

}

/* 테이블 영역 */
#introduceWrap .introduceTableBox{margin-bottom: 160px;}
#introduceWrap .introduceTableBox .titleBox{margin-bottom: 70px;}
#introduceWrap .introduceTableBox .titleBox .tit{font-size: 40px; line-height: 1.2;}
#introduceWrap .introduceTableBox .titleBox p{font-size: 20px; color: #303030; font-family: 'NotoSansKR', sans-serif; font-weight: 400;}
#introduceWrap .introduceTableBox .introduceImgBox img{display: block; max-width: 100%; margin: 0 auto;}

@media (max-width: 1199px){

  #introduceWrap .introduceTableBox{margin-bottom: 120px;}
  #introduceWrap .introduceTableBox .titleBox{margin-bottom: 60px;}
  #introduceWrap .introduceTableBox .titleBox .tit{font-size: 36px;}

}

@media (max-width: 767px){

  #introduceWrap .introduceTableBox{margin-bottom: 100px;}
  #introduceWrap .introduceTableBox .titleBox .tit{font-size: 28px;}
  #introduceWrap .introduceTableBox .titleBox p{font-size: 16px;}

}

@media (max-width: 480px){

  #introduceWrap .introduceTableBox{margin-bottom: 80px;}
  #introduceWrap .introduceTableBox .titleBox .tit{font-size: 24px;}

}

/* 줄기세포센터 - 탈모치료 */
.hairshotWrap .introduceLayoutBox:nth-of-type(5){margin-top: 125px;}
.hairshotWrap .introduceTextBox h5{margin: 60px 0 10px;}
.hairshotWrap .introduceTextBox ul li{text-align: left;}
.hairshotWrap .introduceTextBox ul li,
.hairshotWrap .introduceTextBox h5{ color: #8a8a8a; font-weight: 700; font-size: 16px;}

@media (max-width: 480px){

  .hairshotWrap .introduceTextBox h5{margin: 40px 0 10px;}

}

/* 줄기세포센터 - 리프팅 */
.liftingWrap #introduceWrap .introduceCardBox .titleBox p{margin-top: 30px;}

/* 줄기세포센터 - 의료진 */
.doctorsWrap #staffWrap{padding: 138px 0 270px;}
.doctorsWrap #staffWrap .titleBox{margin-bottom: 128px;}
.doctorsWrap #staffWrap .titleBox .tit::before{content: ''; width: 55px; height: 74px; background: url(../images/sub/staff/logo.png)no-repeat center / contain;}
.doctorsWrap #staffWrap .titleBox .tit{display: flex; flex-direction: column; align-items: center; gap: 25px 0; margin-bottom: 30px; letter-spacing: -2px;}
.doctorsWrap #staffWrap .staffList{display: grid; grid-template-columns: repeat(3, 1fr); gap: 124px 33px;}
.doctorsWrap #staffWrap .staffList li .imgBox{margin-bottom: 22px;}
.doctorsWrap #staffWrap .staffList li .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.doctorsWrap #staffWrap .staffList li em{display: block; font-size: 20px; color: #404040; text-align: center; letter-spacing: -1px;}
.doctorsWrap #staffWrap .staffList li .name{display: block; font-size: 36px; color: #404040; font-family: 'Noto Serif KR', serif; text-align: center; font-weight: 600;}

@media (max-width: 1199px){

  .doctorsWrap #staffWrap .staffList li .name{font-size: 32px;}
  .doctorsWrap #staffWrap .staffList{grid-template-columns: repeat(2, 1fr);}
  .doctorsWrap #staffWrap .titleBox{margin-bottom: 100px;}

}

@media (max-width: 767px){

  .doctorsWrap #staffWrap{padding: 130px 0 150px;}
  .doctorsWrap #staffWrap .titleBox .tit::before{width: 45px; height: 64px;}
  .doctorsWrap #staffWrap .staffList li .name{font-size: 26px;}
  .doctorsWrap #staffWrap .staffList{grid-template-columns: repeat(2, 1fr); gap: 100px 20px;}
  .doctorsWrap #staffWrap .staffList li em,
  .doctorsWrap #staffWrap .titleBox{margin-bottom: 80px!important;}
  
}

@media (max-width: 480px){

  .doctorsWrap #staffWrap{padding: 120px 0;}
  .doctorsWrap #staffWrap .staffList li .name{font-size: 24px;}
  .doctorsWrap #staffWrap .staffList{grid-template-columns: repeat(1, 1fr); gap: 70px 0;}
  .doctorsWrap #staffWrap .staffList li em,
  .doctorsWrap #staffWrap .titleBox{margin-bottom: 70px!important;}
  
}

/* 줄기세포센터 - 바이오연구센터 */
.researchInstituteWrap #researchInfoWrap{padding: 150px 0 0;}
.researchInstituteWrap #researchInfoWrap .titleBox img{display: block; max-width: 100%; margin: 0 auto;}
.researchInstituteWrap #researchInfoWrap .titleBox{margin-bottom: 110px;}
.researchInstituteWrap #researchRoleWrap .tabList{margin-bottom: 80px; display: flex; flex-wrap: wrap;}
.researchInstituteWrap #researchRoleWrap .tabList li{flex: 1 1 25%; margin: 0 -1px -1px 0; border: 1px solid #ae9574;}
.researchInstituteWrap #researchRoleWrap .tabList li .tabBtn{width: 100%; display: block; padding: 24px 10px; font-weight: 700; font-size: 22px; color: #ae9574; text-align: center; word-break: keep-all;}
.researchInstituteWrap #researchRoleWrap .tabList li .tabBtn.active{background-color: #ae9574; color: #fff;}
.researchInstituteWrap #researchRoleWrap .layoutBox{display: flex; gap: 0 77px;}
.researchInstituteWrap #researchRoleWrap .layoutBox .imgBox{max-width: 736px; max-height: 477px;}
.researchInstituteWrap #researchRoleWrap .layoutBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;} 
.researchInstituteWrap #researchRoleWrap .layoutBox .textBox{padding-top: 85px;}
.researchInstituteWrap #researchRoleWrap .layoutBox .textBox .number{margin-bottom: 10px; display: block; font-size: 35px; color: #ae9574; font-family: 'Constantia';}
.researchInstituteWrap #researchRoleWrap .layoutBox .textBox h5{margin-bottom: 30px; font-size: 36px; color: #ae9574; font-family: 'Noto Serif KR', serif;}
.researchInstituteWrap #researchRoleWrap .layoutBox .textBox p{font-size: 20px; color: #303030; line-height: 1.7;}
.researchInstituteWrap .marqueeBox{position: relative; height: 550px;}
.researchInstituteWrap .marqueeTextBox p{font-size: 250px; color: #ae9574; white-space: nowrap;}
.researchInstituteWrap .marqueeTextBox p::before{display: none;}
.researchInstituteWrap #researchImgInfoWrap{padding: 0 0 200px;}
.researchInstituteWrap #researchImgInfoWrap .layoutBox{margin-bottom: 200px; display: flex; justify-content: space-between; align-items: center;}
.researchInstituteWrap #researchImgInfoWrap .layoutBox .titleBox .tit{text-align: left;}
.researchInstituteWrap #researchImgInfoWrap .layoutBox .titleBox .text{text-align: left;}
.researchInstituteWrap #researchImgInfoWrap .layoutBox .imgBox img{display: block; max-width: 100%;}
.researchInstituteWrap #researchImgInfoWrap .researchImgWrap{padding-bottom: 93px; display: flex; gap: 0 38px; overflow-y: auto;}
.researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .imgBox{width: 467px; height: 455px; margin-bottom: 20px; border-radius: 15px; overflow: hidden;}
.researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox h5{margin-bottom: 10px; color: #ae9574; font-size: 28px; font-weight: 600; font-family: 'Noto Serif KR', serif;}
.researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox p{font-size: 18px; color: #303030; line-height: 1.7; letter-spacing: -1px;}
.researchInstituteWrap #researchIntroduceWrap{padding: 200px 0 0; background: url(../images/sub/research/introduce_bg.jpg)no-repeat center / cover; }
.researchInstituteWrap #researchIntroduceWrap .researchIntroduceBox{display: flex; justify-content: center; gap: 0 134px;}
.researchInstituteWrap #researchIntroduceWrap .introduceTextBox span{display: block; margin-bottom: 100px; font-size: 25px; color: #fff; font-family: 'Constantia';}
.researchInstituteWrap #researchIntroduceWrap .introduceTextBox .title{margin-bottom: 40px; font-family: 'Noto Serif KR', serif; font-size: 36px; color: #fff; line-height: 1.3;}
.researchInstituteWrap #researchIntroduceWrap .introduceTextBox .text{font-size: 20px; color: #fff; font-weight: 300; letter-spacing: -1px; line-height: 1.8;}
.researchInstituteWrap #researchIntroduceWrap .introduceImgBox{display: flex; align-items: center;}
.researchInstituteWrap #researchIntroduceWrap .introduceImgBox img{display: block; max-width: 100%;}
.researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox strong{display: block; margin-bottom: 8px; font-size: 18px; color: #fff; font-weight: 400;}
.researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox .historyList li{margin-bottom: 8px; font-size: 18px; color: #fff;}
.researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span{margin-bottom: 25px; display: flex; align-items: flex-end; gap: 0 16px; font-size: 40px; font-weight: 600; font-family: 'Noto Serif KR', serif; color: #ebdac4;} 
.researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span em{font-size: 20px; color: #ebdac4; font-family: 'NotoSansKR', sans-serif;}

@media (max-width: 1280px){

  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox{text-align: center; width: 100%;}
  .researchInstituteWrap #researchIntroduceWrap .researchIntroduceBox{flex-direction: column; align-items: center; gap: 50px 0;}

}

@media (max-width: 1199px){

  .researchInstituteWrap #imgWrap{padding-bottom: 130px;}
  .researchInstituteWrap #researchRoleWrap .tabList li .tabBtn{font-size: 18px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox .number{font-size: 30px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox h5{font-size: 30px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox p{font-size: 18px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox{flex-direction: column; align-items: center; gap: 0;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox{padding-top: 50px; width: 100%; text-align: center;}

  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap{gap: 0 25px;}
  .researchInstituteWrap #researchImgInfoWrap{padding: 0 0 160px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .imgBox{width: 400px; height: 370px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox p br{display: none;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox h5{font-size: 24px;}

  .researchInstituteWrap #researchIntroduceWrap{padding: 160px 0 0;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox span{margin-bottom: 80px; font-size: 20px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .title{font-size: 30px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .text{font-size: 18px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span{font-size: 36px;}

  .researchInstituteWrap #researchImgInfoWrap .layoutBox{margin-bottom: 150px; flex-direction: column; align-items: center; gap: 30px 0;}
  .researchInstituteWrap #researchImgInfoWrap .layoutBox .titleBox{width: 100%;}
  .researchInstituteWrap #researchImgInfoWrap .layoutBox .titleBox .tit,
  .researchInstituteWrap #researchImgInfoWrap .layoutBox .titleBox .text{text-align: center;}
  
}


@media (max-width: 1024px){

  .researchInstituteWrap #researchRoleWrap .tabList li{flex: 1 1 50%;}

}

@media (max-width: 767px){

  .researchInstituteWrap #researchInfoWrap{padding: 130px 0 0;}

  .researchInstituteWrap #imgWrap{padding: 50px 0 100px;}

  .researchInstituteWrap #researchRoleWrap .tabList{margin-bottom: 50px;}
  .researchInstituteWrap #researchRoleWrap .tabList li .tabBtn{padding: 20px 10px; font-size: 16px;}

  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox .number{margin: 0;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox p{font-size: 16px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox h5{font-size: 26px;}

  .researchInstituteWrap #researchImgInfoWrap{padding: 0 0 160px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .imgBox{width: 250px; height: 230px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox h5{font-size: 20px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox p{font-size: 16px;}

  .researchInstituteWrap #researchIntroduceWrap{padding: 130px 0 0;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox span{margin-bottom: 70px; font-size: 18px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .title{font-size: 24px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .text{font-size: 16px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span{font-size: 28px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span em{font-size: 16px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox img{width: calc(50% - -52px);}

  .researchInstituteWrap #researchImgInfoWrap .layoutBox{margin-bottom: 80px;}
  

}

@media (max-width: 480px){

   .researchInstituteWrap #researchInfoWrap{padding: 100px 0 0;}

   .researchInstituteWrap #imgWrap{padding: 50px 0 80px;}

  .researchInstituteWrap #researchRoleWrap .tabList li .tabBtn{font-size: 14px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox{padding-top: 25px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox h5{margin-bottom: 20px; font-size: 22px;}
  .researchInstituteWrap #researchRoleWrap .layoutBox .textBox p br{display: none;}

  .researchInstituteWrap #researchIntroduceWrap{padding: 90px 0 0;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox span{margin-bottom: 60px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .title{font-size: 22px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span{font-size: 22px; gap: 0 10px; }
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox span em{font-size: 16px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox img{width: calc(50% - -20px);}
  .researchInstituteWrap #researchIntroduceWrap .introduceImgBox .historyBox .historyList li{font-size: 14px;}
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .title br,
  .researchInstituteWrap #researchIntroduceWrap .introduceTextBox .text br{display: none;}

  .researchInstituteWrap #researchImgInfoWrap{padding: 0 0 90px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap{padding-bottom: 60px; gap: 0 15px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .imgBox{width: 200px; height: 180px; border-radius: 10px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox h5{font-size: 16px;}
  .researchInstituteWrap #researchImgInfoWrap .researchImgWrap .researchImgBox .textBox p{font-size: 14px;}

}

/* 줄기세포센터 - 진단치료장비 */
.equipmentBox .container{max-width: 1400px;}
.equipmentBox .tabList{margin-bottom: 70px; flex-wrap: wrap; display: flex; align-items: center; justify-content: center; gap: 20px 32px;}
.equipmentBox .tabList li:last-child::after{display: none;}
.equipmentBox .tabList li{position: relative;}
.equipmentBox .tabList li::after{content: ''; position: absolute; top:5px; right:-15px; width: 1px; height: 20px; background-color: #d0d0d0;}
.equipmentBox .tabList li .tabBtn{ font-size: 20px; color: #bfbfbf; font-weight: 700;}
.equipmentBox .tabList li .tabBtn.active{color: #131313;}
.equipmentBox .equipmentSlideList{position: relative; padding-right: 112px; margin-bottom: 95px;}
.equipmentBox .equipmentSlideList .slide{margin-right: 12px;}
.equipmentBox .equipmentSlideList .imgBox{width: 168px; height: 168px; border: 1px solid #dcdadd; overflow: hidden;}
.equipmentBox .equipmentSlideList .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;} 
.equipmentBox .equipmentSlideList .control{position: absolute; top:50%; right:0; transform: translateY(-50%);}
.equipmentBox .equipmentSlideList .control .btn{position: relative; margin-bottom: 5px; display: block; width: 78px; height: 78px; border-radius: 50%; background-color: #d1d1d1; transition: all .3s;}
.equipmentBox .equipmentSlideList .control .btn:hover{background-color: #a38964;}
.equipmentBox .equipmentSlideList .control .btn::after{width: 18px; height: 9px; content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.equipmentBox .equipmentSlideList .control .btn.prev::after{background: url(../images/sub/equipment/arrow_icon01.png)no-repeat center;}
.equipmentBox .equipmentSlideList .control .btn.next::after{background: url(../images/sub/equipment/arrow_icon01.png)no-repeat center; transform: translate(-50%, -50%) rotate(180deg);}
 .equipmentBox .equipmentSlideList .control .btn:last-child{margin-bottom: 0;}
.equipmentBox .equipmentMainSlide .equipmentLayoutBox{display: flex; gap: 0 95px;}
.equipmentBox .equipmentMainSlide .imgBox{flex-shrink: 0; width: 525px; height: 525px; border: 1px solid #dcdadd; overflow: hidden;}
.equipmentBox .equipmentMainSlide .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;} 
.equipmentBox .equipmentMainSlide .textBox{padding-top: 5px;}
.equipmentBox .equipmentMainSlide .textBox span{display: block; margin-bottom: 35px; font-size: 22px; font-family: 'Noto Serif KR', serif; color: #a38964; font-weight: 600;}
.equipmentBox .equipmentMainSlide .textBox h3{margin-bottom: 25px; font-size: 35px; font-weight: 600; color: #131313; font-family: 'Noto Serif KR', serif;}
.equipmentBox .equipmentMainSlide .textBox p{font-weight: 500; color: #636363; line-height: 1.7;}

@media (max-width: 1199px){

  .equipmentBox .equipmentSlideList .control{display: none;}
  .equipmentBox .equipmentSlideList{padding: 0;}
  
  .equipmentBox .equipmentMainSlide .equipmentLayoutBox{gap: 0 70px;}
  .equipmentBox .equipmentMainSlide .imgBox{width: 500px; height: 500px;}
  .equipmentBox .equipmentMainSlide .textBox h3{font-size: 30px;}
  .equipmentBox .equipmentMainSlide .textBox span{margin-bottom: 20px; font-size: 20px;}
  .equipmentBox .equipmentMainSlide .textBox p br{display: none;}
  .equipmentBox .equipmentMainSlide .textBox p em{margin-top: 30px; display: block;}
  .equipmentBox .tabList li .tabBtn{font-size: 18px;}
  .equipmentBox .tabList li::after{top: 6px; height: 16px;}

}

@media (max-width: 1024px){

  .equipmentBox .equipmentSlideList{margin-bottom: 67px;}

  .equipmentBox .equipmentMainSlide .equipmentLayoutBox{flex-direction: column; gap: 30px 0;}
  .equipmentBox .equipmentMainSlide .imgBox{ width: 100%;}

}

@media (max-width: 767px){
  
  .equipmentBox .equipmentSlideList .imgBox{width: 150px; height: 150px;}
  
  .equipmentBox .equipmentMainSlide .imgBox{height: 428px;}
  .equipmentBox .equipmentMainSlide .textBox span{margin-bottom: 5px; font-size: 18px;}
  .equipmentBox .equipmentMainSlide .textBox h3{margin-bottom: 20px; font-size: 26px;}
  .equipmentBox .tabList li .tabBtn{font-size: 16px;}
  .equipmentBox .tabList li::after{top: 6px; height: 14px;}

}

@media (max-width: 480px){

  .equipmentBox .equipmentSlideList .imgBox{width: 130px; height: 130px;}
  .equipmentBox .equipmentMainSlide .imgBox{height: 350px;}
  .equipmentBox .equipmentMainSlide .textBox span{font-size: 16px;}
  .equipmentBox .equipmentMainSlide .textBox h3{margin-bottom: 15px; font-size: 22px;}
  .equipmentBox .tabList li .tabBtn{font-size: 14px;}
  .equipmentBox .tabList{gap: 20px 0;}
  .equipmentBox .tabList li{flex: 1 1 50%; text-align: center;}
  .equipmentBox .tabList li::after{right: 0;}
  .equipmentBox .tabList li:nth-child(even)::after{display: none;}

}

/* 줄기세포센터 - 오시는 길 */
.locationBox .locationTopBox{padding-bottom: 90px; display: flex; gap: 0 58px; }
.locationBox .locationTopBox .locationMapBox{flex-shrink: 0; width: 865px; height: 577px; border-radius: 15px; overflow: hidden;}
.locationBox .locationTopBox .locationMapBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.locationBox .locationTopBox .locationTextBox{width:100%; display: flex; flex-direction: column;}
.locationBox .locationTopBox .locationTextBox h3{margin-bottom: 20px; font-family: 'Noto Serif KR', serif; font-size: 40px; color: #a38964; letter-spacing: -2px;}
.locationBox .locationTopBox .locationTextBox .address{margin-bottom: 0; position: relative; padding-left: 33px; display: block; font-weight: 500; font-size: 22px; color: #303030;}
.locationBox .locationTopBox .locationTextBox .address::before{content: ''; width: 21px; height: 28px; position: absolute; top:2px; left:0; background: url(../images/sub/location/address_icon.png)no-repeat center / contain;}
.locationBox .locationTopBox .locationTextBox strong{display: block; font-family: 'Constantia'; font-size: 66px; color: #000; font-weight: 400; line-height: 1.3;}
.locationBox .locationTopBox .locationTextBox .mapLinkBox{margin-top: auto; display: flex; gap: 0 18px;}
.locationBox .locationTopBox .locationTextBox .mapLinkBox .mapLink{display: flex; flex-direction: column; align-items: center;justify-content: center; gap: 15px 0; flex: 1; height: 157px; border: 1px solid #333; border-radius: 5px; font-weight: 700; color: #000;} 
.locationBox .locationTopBox .locationTextBox .mapLinkBox .mapLink::before{content: ''; }
.locationBox .locationTopBox .locationTextBox .mapLinkBox .naverMap::before{width: 39px; height: 49px; background: url(../images/sub/location/naver_map_icon.jpg);}
.locationBox .locationTopBox .locationTextBox .mapLinkBox .kakaoMap::before{width: 49px; height: 49px; background: url(../images/sub/location/kakao_map_icon.jpg);}
.locationBox .locationTopBox .locationTextBox .mapLinkBox .googleMap::before{width: 40px; height: 52px; background: url(../images/sub/location/google_map_icon.jpg);}
.locationBox .locationInfoBox{margin-bottom: 100px; padding: 70px 20px; display: flex; justify-content: center; gap: 0 100px; border: 1px solid #d2d2d2; border-width: 1px 0;}
.locationBox .locationInfoBox .timeBox h4{margin-bottom: 12px; font-size: 28px; font-weight: 600; color: #a38964; font-family: 'Noto Serif KR', serif;}
.locationBox .locationInfoBox .timeBox dl{display: flex;}
.locationBox .locationInfoBox .timeBox dl dt{width: 125px; flex-shrink: 0; font-size: 20px; color: #000;}
.locationBox .locationInfoBox .timeBox dl dd{font-weight: 700; font-size: 20px; color: #000;}
.locationBox .locationInfoBox .timeBox span{display: block; margin-top: 5px; font-size: 20px; color: #000;}
.locationBox .tabContentBox .tabContent h5{margin-bottom: 30px; text-align: center; font-size: 32px; font-weight: 600; color: #a38964; font-family: 'Noto Serif KR', serif;}
.locationBox .tabContentBox .tabContent p{text-align: center; font-size: 22px; color: #636363; line-height: 1.8; letter-spacing: -1px;}

@media (max-width: 1440px){

  .locationBox .locationTopBox .locationMapBox{width: 750px;}

}

@media (max-width: 1199px){

  .locationBox .locationTopBox .locationMapBox{width: 100%;}
  .locationBox .locationTopBox{flex-direction: column; gap: 50px 0;}
  .locationBox .locationTopBox .locationTextBox h3{font-size: 36px;}
  .locationBox .locationTopBox .locationTextBox strong{font-size: 60px;}
  .locationBox .locationTopBox .locationTextBox .mapLinkBox{margin-top: 50px;}
  .locationBox .locationInfoBox{flex-direction: column; gap: 50px 0;}
  .locationBox .locationInfoBox .timeBox{width: 100%; text-align: center;}
  .locationBox .locationInfoBox .timeBox dl{margin-bottom: 15px; flex-direction: column; gap:0; align-items: center;}
  .locationBox .locationInfoBox .timeBox dl:last-child{margin-bottom: 0;}
  .locationBox .locationInfoBox .timeBox h4{font-size: 26px;}

}

@media (max-width: 767px){

  .locationBox .locationTopBox{padding-bottom: 50px;}
  .locationBox .locationTopBox .locationMapBox{height: 450px;}
  .locationBox .locationTopBox .locationTextBox h3{font-size: 28px;}
  .locationBox .locationTopBox .locationTextBox .address{padding-left: 26px; font-size: 18px;}
  .locationBox .locationTopBox .locationTextBox .address::before{top: 1px; width: 18px; height: 25px;}
  .locationBox .locationTopBox .locationTextBox strong{margin-top: 10px; font-size: 36px;}
  .locationBox .locationInfoBox .timeBox h4{font-size: 24px;}
  .locationBox .locationInfoBox .timeBox dl dd,
  .locationBox .locationInfoBox .timeBox span,
  .locationBox .locationInfoBox .timeBox dl dt{font-size: 18px;}

}

@media (max-width: 480px){

  .locationBox .locationInfoBox{margin-bottom: 70px;}
  .locationBox .locationTopBox .locationMapBox{height: 380px;}
  .locationBox .locationTopBox{gap: 40px 0;}
  .locationBox .locationTopBox .locationTextBox h3{font-size: 22px;}
  .locationBox .locationTopBox .locationTextBox .address{padding-left: 26px; font-size: 16px;}
  .locationBox .locationTopBox .locationTextBox strong{margin-top: 10px; font-size: 32px;}
  .locationBox .locationTopBox .locationTextBox .mapLinkBox{margin-top: 35px; flex-direction: column; gap: 10px 0;}
  .locationBox .locationTopBox .locationTextBox .mapLinkBox .mapLink{padding: 25px 20px;}


  .locationBox .locationInfoBox .timeBox h4{font-size: 20px;}
  .locationBox .locationInfoBox .timeBox dl dd,
  .locationBox .locationInfoBox .timeBox span,
  .locationBox .locationInfoBox .timeBox dl dt{font-size: 16px;}
  
}

/* 공통 - 탭 */
.tabList{margin-bottom: 70px; display: flex; justify-content: center; gap: 12px;}
.tabList li{width: 237px;}
.tabList li .tabbtn{display: block; width: 100%; padding: 20px 10px; border: 1px solid #b8b8b8; border-radius:  7px; text-align: center; font-weight: 500; font-size: 20px; color: #636363; transition: all .3s;}
.tabList li .tabbtn.active{background-color: #a38964; color: #fff;}
.tabList li .tabbtn:hover{background-color: #a38964; color: #fff;}

@media (max-width: 1199px){

  .tabList li .tabbtn{font-size: 18px;}
  .tabContentBox .tabContent h5{font-size: 30px;}
  .tabContentBox .tabContent p{font-size: 20px;}

}

@media (max-width: 767px){

  .tabList{flex-direction: column;}
  .tabList li{width: 100%;}
  .tabList li .tabbtn{font-size: 17px;}
  .tabContentBox .tabContent h5{font-size: 26px;}
  .tabContentBox .tabContent p{font-size: 16px;}

}

@media (max-width: 480px){
  
  .tabList{margin-bottom: 60px;}
  .tabContentBox .tabContent p br{display: none;}
  .tabContentBox .tabContent p strong{display: block; margin-top: 10px;}
  
}