@charset "UTF-8";

/* 공통 - 마퀴텍스트 */
.marqueeBox{position: relative; display: flex; align-items: center; height: 320px;}
.marqueeTextBox{position: absolute; display: flex; animation: textEffect 23s linear infinite;}
.marqueeTextBox p{display: flex; align-items: center; gap: 0 20px; width: 1250px; font-size: 90px; font-weight: 400; color: #593f52; font-family: 'Constantia'; text-align: center; line-height: 1;}
.marqueeTextBox p::before{content: '';  width: 76px; height: 76px; background: url(../images/sub/stemcellcenter/marqueetext_icon.png)no-repeat center / contain;}
.marqueeType02 .marqueeTextBox p{color: #e9e5e0;}
.marqueeType02 .marqueeTextBox p::before{content: ''; background: url(../images/sub/stemcellcenter/marqueetext_icon02.png)no-repeat center / contain;}

@keyframes textEffect {
    0%{
      left: 0;
    }
    100%{
      left: -1250px;
    }
  }

@media (max-width: 1024px){

  .marqueeBox{height: 250px;}
  .marqueeTextBox p{width: 1000px; font-size: 70px;}
  .marqueeTextBox p::before{width: 50px; height: 50px;}

@keyframes textEffect {
    0%{
      left: 0;
    }
    100%{
      left: -1000px;
    }
  }

}

@media (max-width: 480px){

  .marqueeBox{height: 200px;}
  .marqueeTextBox p{width: 600px; font-size: 40px;}
  .marqueeTextBox p::before{width: 40px; height: 40px;}

@keyframes textEffect {
    0%{
      left: 0;
    }
    100%{
      left: -700px;
    }
  }

}

/* 공통 - 비주얼영역 */
#visualWrap .visualBox .textBox span{margin-bottom: 10px; display: block; font-size: 22px; color: #fff; font-family: 'Constantia'; text-align: center; }
#visualWrap .visualBox .textBox h2{margin-bottom: 25px; font-family: 'NotoSerifKR', serif; font-size: 50px;}
#visualWrap .visualBox.active .textBox p{font-size: 20px; font-family: 'NotoSansKR', sans-serif;}

@media (max-width: 1199px){

  #visualWrap .visualBox .textBox span{font-size: 20px;}
  #visualWrap .visualBox .textBox h2{font-size: 40px;}

}

@media (max-width: 767px){

  #visualWrap .visualBox .textBox span{font-size: 18px;}
  #visualWrap .visualBox .textBox h2{font-size: 30px;}
  #visualWrap .visualBox.active .textBox p{font-size: 16px;}

}

@media (max-width: 480px){

  #visualWrap .visualBox .textBox span{margin-bottom: 5px; font-size: 17px;}
  #visualWrap .visualBox .textBox h2{margin-bottom: 20px; font-size: 26px;}
  #visualWrap .visualBox.active .textBox p{font-size: 14px;}
  #visualWrap .visualBox.active .textBox p br{display: none;}

}

/* 공통 - 제목 */
.titleBox{margin-bottom: 66px; text-align: center;}
.titleBox span{display: block; font-size: 25px; color: #593f52; font-family: 'Constantia'; letter-spacing: 10px;}
.titleBox .tit{font-size: 42px; color: #593f52; font-family: 'NotoSerifKR', serif; font-weight: 600; letter-spacing: -1px;}

@media (max-width: 1199px){

  .titleBox span{font-size: 22px;}
  .titleBox .tit{font-size: 36px;}

}

@media (max-width: 767px){

  .titleBox{margin-bottom: 50px!important;}
  .titleBox span{font-size: 20px;}
  .titleBox .tit{font-size: 30px;}

}

@media (max-width: 480px){

  .titleBox{margin-bottom: 40px!important;}
  .titleBox span{font-size: 18px;}
  .titleBox .tit{font-size: 24px;}

}

/* 공통 - 자주 묻는 질문 영역 */
#faqWrap{padding: 0 0 200px;}
#faqWrap .faqBox{margin-bottom: 15px; position: relative; border-radius: 8px; overflow: hidden;}
#faqWrap .faqBox:last-child{margin-bottom: 0;}
#faqWrap .faqBox .faqBtn{position: relative; padding:48px 110px 48px 60px; display: block; width: 100%; font-weight: 700; font-size: 20px; color: #303030; background-color: #e8e7e2; text-align: left;}
#faqWrap .faqBox .faqBtn::after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:50px; width: 24px; height: 25px; background: url(../images/sub/plus_icon.png)no-repeat center / contain;}
#faqWrap .faqBox .faqContentBox{display: none; padding:0 110px 48px 60px;}
#faqWrap .faqBox .faqContentBox p{ font-size: 20px; color: #bda5b7; line-height: 1.8; letter-spacing: -1px;}
#faqWrap .faqBox .faqBtn.active{background-color: #593f52; color: #fff;}
#faqWrap .faqBox .faqBtn.active::after{width: 18px; height: 1px; background: none; background-color: #fff;}
#faqWrap .faqBox .faqBtn.active + .faqContentBox{background-color: #593f52; color: #fff;}

@media (max-width: 767px){

  #faqWrap{padding: 0 ;}
  #faqWrap .faqBox .faqContentBox p,
  #faqWrap .faqBox .faqBtn{font-size: 18px;}
  #faqWrap .faqBox .faqBtn{padding: 45px 110px 45px 50px;}
  #faqWrap .faqBox .faqContentBox{padding: 0 80px 40px 50px;}
  #faqWrap .faqBox .faqBtn::after{width: 20px; height: 20px;}

}

@media (max-width: 480px){

  #faqWrap .faqBox .faqContentBox p,
  #faqWrap .faqBox .faqBtn{font-size: 16px;}
  #faqWrap .faqBox .faqBtn{padding: 35px 70px 35px 20px;}
  #faqWrap .faqBox .faqContentBox{padding: 0 20px 40px 20px;}
  #faqWrap .faqBox .faqBtn::after{right: 30px; width: 15px; height: 15px;}
  #faqWrap .faqBox .faqBtn.active::after{width: 15px;}
  
}

/* 공통 - 시스템 영역, 포인트영역 */
#pointWrap{background:linear-gradient(to bottom, #976751, #3e2e3a);}
#pointWrap .comContentBox p{margin-bottom: 0;}
#systemWrap{background: url(../images/sub/system_bg.jpg)no-repeat center / cover;}
.pointBox,
.systemBox{height: 1180px; display: flex; align-items: center; overflow: hidden;} 
#pointWrap .titleBox,
#systemWrap .titleBox{flex-shrink: 0; padding: 180px 0 0; margin: 0; text-align: left; align-self: flex-start;}
#pointWrap .titleBox span,
#systemWrap .titleBox span,
#pointWrap .titleBox h3,
#systemWrap .titleBox h3{color: #fff;}
#pointWrap .titleBox h3,
#systemWrap .titleBox h3{font-size: 74px;}
.verticalSlideBox{display:flex; align-items:center; gap:0 40px;}
.verticalSlideBox .verticalImgBox{position: relative; flex-shrink: 0; width: 508px; z-index: 1;} 
.verticalSlideBox .verticalImgBox::before{content: ''; position: absolute;
  left: 50%; top: -100%; bottom: -100%; width: 3px; margin-left: -2px; background: linear-gradient(to bottom,
  rgba(113,122,133,0) 0%,
  rgba(113,122,133,0.2) 15%,
  rgba(113,122,133,0.7) 50%,
  rgba(113,122,133,0.2) 85%,
  rgba(113,122,133,0) 100%
); z-index: -1;} 
.verticalSlideBox .verticalImgBox .comImgBox{width: 508px; height: 508px; box-shadow: 0 59px 49px 0 #5252522b; } 
.verticalSlideBox .verticalImgBox .comImgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.verticalSlideBox .verticalTextBox{width: calc(50% - -94px); display:flex; align-items:center;}
.verticalSlideBox .verticalTextBox .comTextBox{width: 100%!important; opacity: .5; display: flex; align-items: flex-start; gap: 0 40px; margin: 60px 0;}
.verticalSlideBox .verticalTextBox .comTextBox .comNumber{flex-shrink: 0; font-size: 74px; font-family: 'Constantia'; color: #ae9373; line-height: .6;} 
.verticalSlideBox .verticalTextBox .comTextBox h4{margin-bottom: 20px; font-family: 'NotoSerifKR', serif; font-size: 36px; font-weight: 600; color: #fff; font-weight: 400; word-break: keep-all;}  
.verticalSlideBox .verticalTextBox .comTextBox .comContentBox p{margin-bottom: 20px; font-size: 20px; color: #fff; line-height: 1.8; font-weight: 300;letter-spacing: -1px;} 
.verticalSlideBox .verticalTextBox .comTextBox .comContentBox .comInfoList{display: flex; flex-wrap: wrap; gap: 9px;} 
.verticalSlideBox .verticalTextBox .comTextBox .comContentBox .comInfoList li{padding: 8px 13px; font-weight: 700; color: #fff; border: 1px solid #fff; border-radius: 8px;}  
.verticalSlideBox .verticalTextBox .comTextBox.slick-current{opacity: 1;}
.verticalSlideBox .verticalImgBox .slick-list{padding: 0!important; border-radius: 50%; overflow: hidden;}
.verticalSlideBox .verticalTextBox .slick-list{overflow:visible; height:100%;}

@media (max-width:1440px){

  .verticalSlideBox .verticalImgBox .comImgBox,
  .verticalSlideBox .verticalImgBox{width: 450px; height: 450px;}
  .verticalSlideBox .verticalTextBox .comTextBox .comContentBox p br{display: none;}

}

@media (max-width: 1199px){

  .verticalSlideBox .verticalImgBox .comImgBox,
  .verticalSlideBox .verticalImgBox{width: 350px; height: 350px;}
  .verticalSlideBox .verticalTextBox .comTextBox .comNumber{font-size: 40px;}
  .verticalSlideBox .verticalTextBox .comTextBox h4{margin-bottom: 15px; font-size: 26px;}
  .verticalSlideBox .verticalTextBox .comTextBox{gap: 0 20px;}

}

@media (max-width: 1024px){

  /* .pointBox, .systemBox{height: auto;}

  .verticalSlideBox,
  .pointBox, .systemBox{flex-direction:column;}
  .verticalSlideBox .verticalTextBox{width: 100%;}
  #pointWrap .titleBox, #systemWrap .titleBox{padding: 0; width: 100%; text-align: center;}
  .verticalSlideBox .verticalImgBox::before {width: auto; height: 3px; left: -100%; top: 50%; right: -100%; bottom: 0; margin: -2px 0 0;} */

}

/* 원셀줄기세포센터 - 줄기세포센터 */
.stemcellWrap .introduceTopInfoBox .introduceLayoutBox:nth-child(2){flex-direction: row-reverse;}
.stemcellWrap .introduceTopInfoBox .introduceLayoutBox:nth-child(2) .introduceImgBox{border-radius: 242px!important;} 
.stemcellWrap #cardListWrap{padding: 190px 0 0;}
.stemcellWrap #cardListWrap .cardList{margin-bottom: 6.3vw;}
.stemcellWrap #cardListWrap .cardList li:nth-child(1){grid-column: 1; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList li:nth-child(2){grid-column: 2; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList li:nth-child(3){grid-column: 3; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList li:nth-child(4){grid-column: 2; grid-row: 2;}
.stemcellWrap #cardListWrap .cardList li:nth-child(5){grid-column: 3; grid-row: 2;}
.stemcellWrap #cardListWrap .cardList li:nth-child(6){grid-column: 4; grid-row: 2;}
.stemcellWrap .introduceBox01{background: url(../images/sub/stemcellcenter/bg.jpg)no-repeat center 70px;}
.stemcellWrap .infoTextBox{background-color: #f4f1ee;}
.stemcellWrap #cardListWrap .cardList::before,
.stemcellWrap #cardListWrap .cardList::after{content: ''; display: block;}
.stemcellWrap #cardListWrap .cardList::before{grid-column: 4; grid-row: 1;}
.stemcellWrap #cardListWrap .cardList::after{ grid-column: 1; grid-row: 2;}

@media (max-width: 1199px){

  .stemcellWrap .introduceTopInfoBox{display: flex; flex-direction: column; gap: 150px 0;}
  .stemcellWrap #cardListWrap{padding: 150px 0 0;}

}

@media (max-width: 767px){

  .stemcellWrap #cardListWrap{padding: 100px 0 0;}

}

/* 소개영역 */
#introduceWrap{padding: 100px 0 0;} 
#introduceWrap .introduceBox01{padding: 0 0 120px;}
#introduceWrap .introduceBox01 .container{max-width: 1240px;}
#introduceWrap .titleBox {margin-bottom: 160px;}
#introduceWrap .titleBox p{margin-bottom: 10px; font-family: 'NotoSerifKR'; font-weight: 600; font-size: 36px; color: #593f52; letter-spacing: -2px;}
#introduceWrap .titleBox h3{font-size: 74px; word-break: keep-all;}
#introduceWrap .introduceBox01 .introduceLayoutBox{margin-bottom: 160px; display: flex; align-items: center; justify-content: center; gap: 0 106px;}
#introduceWrap .introduceBox01 .introduceLayoutBox:last-child{margin-bottom: 0;}
#introduceWrap .introduceBox01 .introduceLayoutBox .introduceImgBox{flex-shrink: 0; border-radius: 50%; box-shadow: 30px 50px 50px rgba(0,0,0,.1);  overflow: hidden;}
#introduceWrap .introduceBox01 .introduceLayoutBox .introduceImgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
#introduceWrap .introduceBox01 .introduceTextBox h4{margin-bottom: 15px; font-family: 'NotoSerifKR'; font-weight: 600; font-size: 40px; color: #593f52; letter-spacing: -3px; word-break: keep-all;} 
#introduceWrap .introduceBox01 .introduceTextBox p{ font-size: 20px; color: #303030; line-height: 2; letter-spacing: -2px;}
#introduceWrap .introduceBox01 .introduceTextBox p span{display: block; margin-top: 30px; font-size: 17px; color: #593f52;}
#introduceWrap .introduceBox01 .introduceTextBox p br{display: none;}
#introduceWrap .introduceBox02{ position: relative;}
#introduceWrap .introduceBox02 .titleBox{width: 100%; position: absolute; top:126px; left: 50%; transform: translateX(-50%);}
#introduceWrap .introduceBox02 .titleBox span,
#introduceWrap .introduceBox02 .titleBox h3{color: #fff;}
#introduceWrap .introduceBox02 .titleBox span{font-size: 25px;}
#introduceWrap .introduceBox02 .titleBox h3{margin-bottom: 30px; font-size: 42px;}
#introduceWrap .introduceBox02 .titleBox p{font-size: 20px; font-family: 'Noto Sans KR', sans-serif; color: #fff; font-weight: 400; line-height: 1.8; font-weight: 300;}
#introduceWrap .introduceBox02 .introduceImgBox img{display: block; width: 100%;}

@media (max-width: 1199px){

  #introduceWrap .titleBox{margin-bottom: 100px;}
  #introduceWrap .titleBox p{font-size: 30px;}
  #introduceWrap .titleBox h3{font-size: 40px;}
 
  #introduceWrap .introduceBox01 .introduceTextBox{width: 100%; text-align: center;}
  #introduceWrap .introduceBox01 .introduceTextBox h4{font-size: 36px;}
  #introduceWrap .introduceBox01 .introduceTextBox p{font-size: 18px;}
  #introduceWrap .introduceBox01 .introduceLayoutBox{flex-direction: column!important; gap:90px 0;}

  #introduceWrap .introduceBox02 .titleBox{top: 90px;}
  #introduceWrap .introduceBox02 .titleBox span{font-size: 20px;}
  #introduceWrap .introduceBox02 .titleBox h3{margin-bottom: 18px; font-size: 36px;}
  #introduceWrap .introduceBox02 .titleBox p{font-size: 18px;}

}

@media (max-width: 1024px){

  #introduceWrap .introduceBox02 .titleBox{top: 70px;}

}

@media (max-width: 767px){

  #introduceWrap .titleBox p{font-size: 24px;}
  #introduceWrap .titleBox h3{font-size: 28px;}

  #introduceWrap .introduceBox01 .introduceTextBox h4{font-size: 26px;}
  #introduceWrap .introduceBox01 .introduceTextBox p{font-size: 16px;}
  #introduceWrap .introduceBox01 .introduceLayoutBox{margin-bottom: 130px; flex-direction: column!important; gap:60px 0;}
  
  #introduceWrap .introduceBox02 .titleBox span{font-size: 16px;}
  #introduceWrap .introduceBox02 .titleBox h3{font-size: 26px;}
  #introduceWrap .introduceBox02 .titleBox p{font-size: 16px;}
  #introduceWrap .introduceBox02 .titleBox{margin-bottom: 40px; position: static; transform: none;}
  #introduceWrap .introduceBox02 .titleBox p,
  #introduceWrap .introduceBox02 .titleBox span,
  #introduceWrap .introduceBox02 .titleBox h3{color: #593f52;}

}

@media (max-width: 480px){

  #introduceWrap .titleBox{margin-bottom: 80px;}
  #introduceWrap .titleBox p{font-size: 20px;}
  #introduceWrap .titleBox h3{font-size: 26px;}

  #introduceWrap .introduceBox01{padding: 0 0 90px;}

  #introduceWrap .introduceBox02 .titleBox p br,
  #introduceWrap .introduceBox01 .introduceTextBox p br{display: none;}
  
  #introduceWrap .introduceBox02 .titleBox{margin-bottom: 20px;}
  #introduceWrap .introduceBox02 .titleBox span{font-size: 14px;}
  #introduceWrap .introduceBox02 .titleBox h3{margin-bottom: 10px; font-size: 24px;}

}

/* 프로그램영역 */
#programWrap{padding: 0 0 160px;}
#programWrap .programImgList{display: flex; gap: 0 18px; margin-left: 20px; padding-bottom: 114px; overflow-x: auto;}
#programWrap .programImgList li img{display: block;}
#programWrap .titleBox{margin-bottom: 80px;}
#programWrap .titleBox .tit{margin-bottom: 20px;}
#programWrap .titleBox p{font-size: 20px; color: #303030;}

@media (max-width: 1199px){

  #programWrap{padding: 0 0 100px;}

}

@media (max-width: 767px){

  #programWrap .programImgList{gap: 0 13px; padding-bottom: 35px;}
  #programWrap .programImgList li img{width: 250px;}
  #programWrap .titleBox p{font-size: 16px;}
  
}

@media (max-width: 480px){

  #programWrap{padding: 0 0 60px;}
  #programWrap .programImgList li img{width: 200px;}
  
}

/* 연구소영역 */
#laboratoryWrap{padding: 155px 0 0; background-color: #f4f1ee;}
#laboratoryWrap .titleBox{margin-bottom: 92px;}
#laboratoryWrap .titleBox em{ font-family: 'NotoSerifKR', serif; font-weight: 600; font-size: 45px; color: #593f52;}
#laboratoryWrap .laboratoryTopImgBox{margin-bottom: 110px;}
#laboratoryWrap .laboratoryTopImgBox img{display: block; width: 100%;}
#laboratoryWrap .laboratoryInfoBox{margin-bottom: 110px; display: flex; justify-content: center; align-items: center; gap: 0 100px;}
#laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{margin-bottom: 25px; font-family: 'NotoSerifKR', serif; font-weight: 600; font-size: 36px; color: #593f52; letter-spacing: -2px;}
#laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p{font-size: 20px; color: #303030; line-height: 1.8; letter-spacing: -1px;}
.viewBox{display: flex; justify-content: center;}
.viewBox .view{display: block; padding: 14px 28px; border-radius: 50px; font-weight: 700; font-size: 18px; color: #303030; border: 1px solid #333;}
#laboratoryWrap .laboratoryInfoBox .laboratoryImgBox img{display: block; width: 100%;}
#laboratoryWrap .marqueeBox{height: 500px;}
#laboratoryWrap .marqueeTextBox p{width: 1900px; font-size: 250px;}
#laboratoryWrap .marqueeTextBox p::before{display: none;}

@media (max-width: 1199px){

  #laboratoryWrap{padding: 120px 0 0;}
  #laboratoryWrap .titleBox{margin-bottom: 60px;}
  #laboratoryWrap .titleBox em{font-size: 40px;}
  #laboratoryWrap .laboratoryTopImgBox{margin-bottom: 65px;}
  #laboratoryWrap .laboratoryInfoBox{flex-direction: column; gap: 100px 0;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox{width: 100%; text-align: center;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{font-size: 30px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p{font-size: 18px;}

  #laboratoryWrap .marqueeBox{height: 350px;}
  #laboratoryWrap .marqueeTextBox p{width: 1050px; font-size: 140px;}

}

@media (max-width: 767px){

  #laboratoryWrap .titleBox em{font-size: 34px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{font-size: 24px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p{font-size: 16px;}

  .viewBox .view{font-size: 16px;}

  #laboratoryWrap .marqueeBox{height: 250px;}
  #laboratoryWrap .marqueeTextBox p{width: 700px; font-size: 90px;}

}

@media (max-width: 480px){

  #laboratoryWrap{padding: 80px 0 0;}
  #laboratoryWrap .titleBox em{font-size: 28px;}
  #laboratoryWrap .laboratoryTopImgBox{margin-bottom: 50px;}
  #laboratoryWrap .laboratoryInfoBox{margin-bottom: 50px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox h4{font-size: 20px;}
  #laboratoryWrap .laboratoryInfoBox .laboratoryTextBox p br{display: none;}

  #laboratoryWrap .marqueeBox{height: 200px;}
  #laboratoryWrap .marqueeTextBox p{width: 450px; font-size: 60px;} 
  
}

@media (max-width: 414px){

  #laboratoryWrap .laboratoryInfoBox{gap: 70px 0;}

}

/* 공통 - 카드영역 */
#cardListWrap{padding: 0 0 180px;}
#cardListWrap .cardList li{grid-column: auto; grid-row:auto;}
#cardListWrap .cardList li img{display: block; width: 100%;}
#cardListWrap .cardList{margin-bottom: 4.7vw; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px;}


@media (max-width: 1440px){

  #cardListWrap{padding: 0 0 120px;}

}

@media (max-width: 767px){

  #cardListWrap .cardList{gap: 10px; grid-template-columns: repeat(3, 1fr);}
  #cardListWrap .cardList li{grid-column: auto!important; grid-row:auto!important;}
  #cardListWrap .cardList::before,
  #cardListWrap .cardList::after{display: none!important;}
 
}

@media (max-width: 480px){

  #cardListWrap .cardList{grid-template-columns: repeat(2, 1fr);}

}

/* 공통 - 안내텍스트 */
.infoTextBox{background-color: #e8e7e2;}
.infoTextBox p{padding: 24px 10px; font-weight: 700; color: #303030; font-weight: 700; border-radius: 8px; text-align: center;}











/* 원셀줄기세포센터 - 안티에이징 */
#introduceWrap .introduceBox01 .introduceLayoutBox{margin: 0;}
#introduceWrap .imgBox{position: relative; height: 432px;}
#introduceWrap .imgBox img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* 공통 - 안티에이징, 가슴지방성형, 얼굴지방이식, 리프팅, 활력치료, 스킨부스터 */
.skinshotWrap #introduceWrap .titleBox,
.immunityWrap #introduceWrap .titleBox,
.vitalityWrap #introduceWrap .titleBox,
.liftingWrap #introduceWrap .titleBox,
.facialFatTransferWrap #introduceWrap .titleBox,
.breastFatTransferWrap #introduceWrap .titleBox,
.agingcareWrap #introduceWrap .titleBox{margin-bottom: 70px;}






@media (max-width: 1440px){

   #introduceWrap .imgBox{margin: 100px 0; height: auto;} 
   #introduceWrap .imgBox img{position: static; width: 100%; transform: none;}

}

@media (max-width: 480px){

  #introduceWrap .imgBox{margin: 50px 0;}

}

/* 시너지영역 */
#synergyWrap{padding: 170px 0 0;}
#synergyWrap .titleBox .tit{margin-bottom: 20px;}
#synergyWrap .synergyInfoBox{margin-bottom: 120px; display: flex; justify-content: center; gap: 0 80px;}
#synergyWrap .synergyImgBox img{display: block; width: 100%;}
#synergyWrap .synergyTextBox h4{margin-bottom: 30px; padding-bottom: 20px; font-family: 'NotoSerifKR', serif; font-size: 50px; font-size: 36px; color: #593f52; border-bottom: 1px solid #acacac;}
#synergyWrap .synergyTextBox h4 + p{margin-bottom: 50px; font-size: 20px; color: #303030;}
#synergyWrap .synergyTextBox .synergyList li{margin-bottom:40px;}
#synergyWrap .synergyTextBox .synergyList li:last-child{margin-bottom: 0;}
#synergyWrap .synergyTextBox .synergyList li h5{font-size: 20px; font-weight: 600; color: #303030;}
#synergyWrap .synergyTextBox .synergyList li p{font-size: 20px; color: #303030;}

@media (max-width: 1199px){

    #synergyWrap{padding: 100px 0 0;}

}

@media (max-width: 1024px){

  #synergyWrap .synergyInfoBox{margin-bottom: 70px; flex-direction: column; gap: 30px 0;}
  #synergyWrap .synergyImgBox img{max-width: 100%; width: auto; margin: 0 auto;}
  #synergyWrap .synergyTextBox h4{font-size: 32px;}
  #synergyWrap .synergyTextBox h4 + p{font-size: 18px;}
  #synergyWrap .synergyTextBox p br{display: none;}
  #synergyWrap .synergyTextBox .synergyList li h5,
  #synergyWrap .synergyTextBox .synergyList li p{font-size: 18px;}

}

@media (max-width: 767px){

  #synergyWrap .synergyTextBox h4{font-size: 26px;}
  #synergyWrap .synergyTextBox h4 + p{margin-bottom: 35px; font-size: 16px;}
  #synergyWrap .synergyTextBox .synergyList li h5,
  #synergyWrap .synergyTextBox .synergyList li p{font-size: 16px;}

}

/* 테이블 영역 */
#introduceWrap .introduceTableBox{margin-bottom: 180px;}
#introduceWrap .introduceTableBox .introduceImgBox img{display: block; max-width: 100%; margin: 0 auto;}

@media (max-width: 1199px){

  #introduceWrap .introduceTableBox{margin-bottom: 100px;}

}

@media (max-width: 767px){

  #introduceWrap .introduceTableBox{margin-bottom: 80px;}

}

/* 카드 목록 영역 */
#introduceWrap .introduceCardBox{padding: 0 0 170px;}
#introduceWrap .introduceCardBox .introduceCardList img{display: block; width: 100%;}
#introduceWrap .introduceCardBox .titleBox{margin-bottom: 50px;}
#introduceWrap .introduceCardBox .titleBox .tit{margin-bottom: 30px; font-size: 40px; line-height: 1.2;}
#introduceWrap .introduceCardBox .titleBox p{font-size: 20px; color: #303030; font-family: 'NotoSansKR', sans-serif; font-weight: 400;}
#introduceWrap .introduceCardBox .viewBox{margin-bottom: 80px;}

@media (max-width: 767px){
  
  #introduceWrap .introduceCardBox{padding: 0 0 100px;}
  #introduceWrap .introduceCardBox .titleBox .tit{font-size: 28px;}
  #introduceWrap .introduceCardBox .titleBox p{font-size: 16px;}
  #introduceWrap .introduceCardBox .viewBox{margin-bottom: 62px;}

}

@media (max-width: 480px){
  
  #introduceWrap .introduceCardBox{padding: 0 0 70px;}
  #introduceWrap .introduceCardBox .titleBox .tit{font-size: 24px;}
  #introduceWrap .introduceCardBox .viewBox{margin-bottom: 50px;}
  #introduceWrap .introduceCardBox .titleBox p br{display: none;}

}